*,
*::before,
*::after{
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro' monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: rgb(250, 143, 90);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong { font-weight: var(--fw-bold);}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.portfolio-item__btn {
  font-size: 1.1rem;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em, 4em;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 400px;
    /* max-height: 100px; */
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;

}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 5px;
  background-color: var(--clr-light);
  z-index: 1000;
}

/* Intro Section */

.intro {
    position: relative;
}

.intro__img,
.portfolio-item__img {
    box-shadow: var(--bs);
    background-color: var(--clr-light);
}

@media (min-width: 600px) {
  .intro {
      display: grid;
      width: min-content;
      margin: 0 auto;
      grid-column-gap: 1em;
      grid-template-areas: 
        "img title"
        "img subtitle";
      grid-template-columns: min-content max-content;
  }

  .intro__img,
  .portfolio-item__img {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
  }

  .portfolio-item__img { height: 100%; }

  .section__subtitle--intro {
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -1.5em;
      width: calc(100% + 1.5em);
  }
}

/* My Skills Section */

.my-skills {
  background-color: var(--clr-dark);
  background-image: url(../img/skills-bg.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--skills {
  color: var(--clr-accent);
  position: relative;
}

.section__title--skills::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.skills {
  margin-bottom: 4em;
}

.skill {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .skills {
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .skill + .skill {
      margin-left: 2em;
  }
}

/* About Me */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  max-width: 100%;
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
      display: grid;
      grid-template-columns: 1fr 200px;
      grid-template-areas: 
          "title img"
          "subtitle img"
          "text img";
      grid-column-gap: 2em;
  }
  
  .section__title--about {
      grid-area: title;
  }
  
  .section__subtitle--about {
      grid-column: 1 / -1;
      grid-row: 2;
      position: relative;
      left: -1em;
      width: calc(100% + 2em);
      padding-left: 1em;
      padding-right: calc(200px + 4em);
  }
  
  .about-me__img {
    max-width: 250px;
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.portfolio__item--container {
    overflow: hidden;
    position: relative;
    background-color: var(--clr-dark);
}

.portfolio__img,
.portfolio__item--container-details  {
    border-radius: 25px;
}

/* .portfolio__item--overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--clr-light);
  background-color: rgba(255, 174, 0, 0.9);
  opacity: 0;
  transition: all .5s ease;
} */

/* .portfolio__item--overlay:hover {
  opacity: 1;
} */

.portfolio__item--content {
  height: 150px;
  width: 300px;
  color: var(--clr-dark);
  text-align: left;
}

.portfolio__item--title,
.portfolio__item--tag {
  padding-left: 15px;
  
}

.portfolio__item--title {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  text-decoration: underline;
  padding-top: 15px;
}

/*
.portfolio__logo {
  color: var(--clr-black);
  font-size: var(--fs-h2);
}

.portfolio__logo:hover,
.portfolio__item--tag a:hover {
  opacity: 0.85;
}
*/

.portfolio__item--tag {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-h3);
  margin-top: -15px;
}

#twitterclone { background-color: rgb(90, 200, 250);}

#top10news { background-color: rgb(249, 43, 141); }

#grid--content { color: var(--clr-light)}

#checkit { background-color: rgb(0, 212, 189); }

@media (max-width: 1000px) {

  .portfolio {
      display: grid;
      grid-template-columns: repeat(1, 250px);
  }

  .portfolio__item--container {
      margin-bottom: 3em;
  }

  .portfolio__item--container-details {
    margin-top: -15px;
  }

}

/* Footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0 0 25px 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}

.footer p {
  font-size: .90rem;
}

/* Individual portfolio item styles */

.portfolio-item {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio-item__img {
  border-radius: 50%;
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  font-size: var(--fs-h3);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#portfolio-item-description {
  margin-bottom: 2.5em;
}

.portfolio-item__section-heading {
  color: var(--clr-accent);
  position: relative;
  margin-top: 2em;
  font-size: 2rem;
}

.portfolio-item__section-heading::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-accent);
  opacity: 0.25;
}

.portfolio-item-individual a {
  color: var(--clr-accent);
  text-decoration: none;
}

.portfolio-item-individual img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item__tools-list {
  list-style: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#sketch {
  background-color: white;
}

.tools-list__title {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
}

.tools-list__title strong {
  display: block;
  color: var(--clr-accent);
  font-size: 1.75rem;
  padding-bottom: 10px;
}

.tools-list__item {
  margin-bottom: 2.5em;
}

.portfolio-item__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 3em 0;
  padding: 0 0 25px 0;
}

.portfolio-item__list--item {
  margin: 0 .5em;
}